@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">The site you're trying to reach is either down for maintenance or request time out...</h1>
<hr />
<h2 class="text-danger">We apologize for the inconvenience. Please try again soon.</h2>

