
@{
    ViewBag.Title = "SampleView";
}

<h2>SampleView</h2>

<input type="text" name = "date" id="date" />


<div id="tabs">
    <ul>

        <li><a href="#tabs-1"> No. of IDP Personnel </a></li>
        <li><a href="#tabs-2"> IA Organization </a></li>
        <li><a href="#tabs-3"> IA Registration </a></li>

    </ul>

    

    <div id="tabs-1">
        <input type="text" />
     </div>

    <div id="tabs-2">
       valen cia
     </div>
    
    <div id="tabs-3">
    <input type="text" />
    </div>


</div>