
@{
    ViewBag.Title = "CovidSurveyDashboard";
}

<h2>Covid Survey Dashboard</h2>

<iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiM2Y5YjU4ZTItZjY5Yi00N2M2LWFmN2QtMDc1YTdhYWVjY2RjIiwidCI6ImFlYmI2NDE0LTMxMjgtNDVmYi05OTA0LThhNDNhNjgzOWJlNiIsImMiOjEwfQ%3D%3D" frameborder="0" allowfullscreen="true"></iframe>