@model AccompProject.Models.ProcurementSupplier

@{

}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />




        <div class="form-group">

            <div class="row">


                <div class="col-md-3">
                    @Html.LabelFor(model => model.SuplierName, "SUPPLIER NAME", htmlAttributes: new { @class = "control-label col-md-5" })

                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.SuplierName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.SuplierName, "", new { @class = "text-danger" })

                </div>


            </div>
        </div>




    </div>

}


<div id="myModal" class="modal fade in">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

<div class="form-group">

    <div class="col">
        <div id="replacetarget">
            @{


                Html.RenderAction("IndexSupplierItem", "Supplier", new { id = Model.SupplierID });


            }


        </div>
    </div>
</div>


