@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


@Html.ActionLink("Manual For Project Monitoring for Physical and Financial Information System", "Download", new { id = 1 }, null)





<iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiYjY4YTMzYWMtMzA3NC00ODViLWI1YTgtMWJiOTVkOTZhNDA2IiwidCI6ImI3NGNlYTNhLTg4N2MtNDdkNS1hNjFiLTE5MzZmZDgzZjE5NyIsImMiOjEwfQ%3D%3D" frameborder="0" allowfullscreen="true"></iframe>