@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    (NIA) National Irrigation Administration<br />
    EDSA, Diliman, Quezon City<br />
    <abbr title="Phone">P:</abbr>
    (02) 927-6071
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jervy.valencia@nia.gov.ph">jervy.valencia@nia.gov.ph</a><br />
    <strong>MID:</strong> <a href="mailto:cps-mid@nia.gov.ph">cps-mid@nia.gov.ph</a>
</address>