@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


<meta http-equiv="refresh" content="0;URL=https://app.powerbi.com/view?r=eyJrIjoiOTZlNzM5YzAtOTVkNS00YThkLWJkOTgtODI1Y2EzMmFhOTM2IiwidCI6ImI3NGNlYTNhLTg4N2MtNDdkNS1hNjFiLTE5MzZmZDgzZjE5NyIsImMiOjEwfQ%3D%3D">
