@model AccompProject.Models.MAPPIC

@{
    ViewBag.Title = "Upload";
}
<h2>Upload</h2>
@using (Html.BeginForm("Upload", "Map", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>Select File : </td>
            <td>
                @Html.TextBoxFor(Model => Model.File, new { type = "file", multiple = "true" , accept="image/*"})
                @Html.ValidationMessage("CustomError")
            </td>
            <td>
                <input type="submit" value="Upload" accept="image/*" />
            </td>
        </tr>
    </table>
}

@section Scripts {
   @* @Scripts.Render("~/bundles/jqueryval")*@
}
