
@{
    ViewBag.Title = "CrystalReport";
}
<script src="~/Scripts/CrystalReport/CrystalReport.js"></script>
<h2>CrystalReport</h2>


<div class="jumbotron">Crystal report</div>


<div><button class="btn btn-info" id="btnLoadReport">Load Report</button></div>
