@{
    ViewBag.Title = "Magat Dam";
}

@Scripts.Render("~/bundles/imageslider")
<div class="page-header">
    <h1>Magat Dam</h1>
</div>


<div>

    <p> <b>Magat Dam</b> is a large rock-fill dam on the island of Luzon in the Philippines. The dam is located on Magat River, a major tributary of Cagayan River. Construction of the dam started in 1975 and completed in 1982. Magat Dam is one of the largest dams in the Philippines and has two primary purposes: as a source of irrigation water and as a provider of hydroelectric power.</p>

</div>

<h2>History </h2>
<div>

    <p>The construction and appurtenant structures was authorized by P.D. 693 signed on May 7, 1975 by the late President Ferdinand E. Marcos. The Magat Dam was constructed in 1978 and inaugurated by the Late Pres. Ferdinand E. Marcos on October 27, 1982[1] and started operations in 1983.[2]

Implementation of this multipurpose project was based on the preliminary study conducted in 1973 by the National Irrigation Administration (NIA) with the assistance of the United States Bureau of Reclamation (USBR) and the United States Agency for International Development (USAID).

Subsequent detailed and extensive dam site investigation and engineering studies further confirmed the feasibility of what is now known as NIA's most daring infrastructure project and one of Asia's biggest dams today.

It was Southeast Asia's first large multipurpose dam. The dam is part of the Magat River Multipurpose Project (MRMP) which was financed by the World Bank and whose purpose is to improve on the existing Magat River Irrigation System (MARIS) and to triple the production of rice in the Cagayan River basin.

The project was jointly financed by the Philippine Government and the World Bank which extended a US$150M loan to finance the foreign exchange requirement. In addition, a US$9M loan from Bahrain was obtained for the purchase of other equipment for the diversion tunnels, soils laboratory and model testing. The total project cost is US$3.4B (yr. 1975).</p>

</div>


<h2>Geography </h2>
<div>
    <p>
        The Magat Dam is located on the Magat River at the boundary between the municipalities of Alfonso Lista in the province of Ifugao and Ramon in Isabela both on the island of Luzon, approximately 350 kilometres (220 mi) north of Metro Manila. The Magat River is the largest tributary of the Cagayan River, the longest river in the country.    </p>

</div>


<h2>Features</h2>


<h4> Magat High Dam </h4>
<p>
    Height: 114 metres (374 ft)<br />
    Crest Length: 4,160 metres (13,650 ft)<br />
    Volume of Rocks & Earth Materials: 18 million cubic meters<br />
    Concrete = 1.00 million cubic meters
</p>

<h4>Spillway</h4>
<p>Length = 500 metres (1,600 ft)<br />
Width = 164 metres (538 ft)<br />
Discharge Cap.= 30,600 cubic meters<br />
Radial Gates = 7 sets<br />
Orifice Gates = 2 sets
</p>


<h4>Diversion Tunnels</h4>
<p>
    Number: 2 <br />
    Diameters: 2 metres (6.6 ft)<br />
    Ave.Length: 630 metres (2,070 ft)<br />
</p>

<h4>Reservoir</h4>
<p>
    Storage Cap.at Full Supply Level(FSL): 1.08 billion cubic meters <br />
    Area at FSL : 45 square kilometres (17 sq mi)<br />
    Area at min. Supply Level : 15 square kilometres (5.8 sq mi)<br />
    Elevation at FSL : El. 193 metres (633 ft)<br />
    Maximum Flood Level : El. 197.6 metres (648 ft)<br />
    Live Storage : 810 million cubic meters
</p>

<h4>Power House</h4>
<p>
    Installed Capacity : 360 MegaWatts<br />
    Additional Capacity: 180 MegaWatts<br />
    Total  : 540 MegaWatts
</p>

<h2>Pictures</h2>
<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 809px; height: 150px; overflow: inherit;">

    <!-- Loading Screen -->
    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
        <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
        </div>
        <div style="position: absolute; display: block; background: url(../../Pic/loading.gif) no-repeat center center;
                top: 0px; left: 0px;width: 100%;height:100%;">
        </div>
    </div>

    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 809px; height: 150px; overflow: hidden;">
        <div><img u="image" src="~/Pic/m1.jpg" /></div>
        <div><img u="image" src="~/Pic/m2.jpg" /></div>
        <div><img u="image" src="~/Pic/m3.jpg" /></div>
        <div><img u="image" src="~/Pic/m4.jpg" /></div>
        <div><img u="image" src="~/Pic/magat-dam.jpg" /></div>
        <div><img u="image" src="~/Pic/magat.jpg" /></div>


    </div>

    <!--#region Bullet Navigator Skin Begin -->
    <!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->
    <style>
        /* jssor slider bullet navigator skin 03 css */
        /*
            .jssorb03 div           (normal)
            .jssorb03 div:hover     (normal mouseover)
            .jssorb03 .av           (active)
            .jssorb03 .av:hover     (active mouseover)
            .jssorb03 .dn           (mousedown)
            */
        .jssorb03 {
            position: absolute;
        }

            .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
                position: absolute;
                /* size of bullet elment */
                width: 21px;
                height: 21px;
                text-align: center;
                line-height: 21px;
                color: white;
                font-size: 12px;
                background: url(../../Pic/b03.png) no-repeat;
                overflow: hidden;
                cursor: pointer;
            }

            .jssorb03 div {
                background-position: -5px -4px;
            }

                .jssorb03 div:hover, .jssorb03 .av:hover {
                    background-position: -35px -4px;
                }

            .jssorb03 .av {
                background-position: -65px -4px;
            }

            .jssorb03 .dn, .jssorb03 .dn:hover {
                background-position: -95px -4px;
            }
    </style>
    <!-- bullet navigator container -->
    <div u="navigator" class="jssorb03" style="bottom: 4px; right: 6px;">
        <!-- bullet navigator item prototype -->
        <div u="prototype"><div u="numbertemplate"></div></div>
    </div>
    <!--#endregion Bullet Navigator Skin End -->
    <!--#region Arrow Navigator Skin Begin -->
    <!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->
    <style>
        /* jssor slider arrow navigator skin 03 css */
        /*
            .jssora03l                  (normal)
            .jssora03r                  (normal)
            .jssora03l:hover            (normal mouseover)
            .jssora03r:hover            (normal mouseover)
            .jssora03l.jssora03ldn      (mousedown)
            .jssora03r.jssora03rdn      (mousedown)
            */
        .jssora03l, .jssora03r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            background: url(../../Pic/a03.png) no-repeat;
            overflow: hidden;
        }

        .jssora03l {
            background-position: -3px -33px;
        }

        .jssora03r {
            background-position: -63px -33px;
        }

        .jssora03l:hover {
            background-position: -123px -33px;
        }

        .jssora03r:hover {
            background-position: -183px -33px;
        }

        .jssora03l.jssora03ldn {
            background-position: -243px -33px;
        }

        .jssora03r.jssora03rdn {
            background-position: -303px -33px;
        }
    </style>
    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora03l" style="top: 123px; left: 8px;">
    </span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora03r" style="top: 123px; right: 8px;">
    </span>
    <!--#endregion Arrow Navigator Skin End -->
    <a style="display: none" href="http://www.jssor.com">Bootstrap Slider</a>
</div>
<!-- Jssor Slider End -->
