<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--Accomplishment2019-->
    <!--<add name="DefaultConnection" connectionString="Data Source=.\mysqlserver;Initial Catalog=Accomplishment2019;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" /> 
    <add name="AccomplishmentEntities" connectionString="metadata=res://*/Models.AccompModel.csdl|res://*/Models.AccompModel.ssdl|res://*/Models.AccompModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\mysqlserver;initial catalog=Accomplishment2019;persist security info=True;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
    <add name="AccomplishmentEntitiesSecurity" connectionString="Data Source=.\mysqlserver;Initial Catalog=Accomplishment2019;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />
    <add name="InventoryEntities" connectionString="metadata=res://*/Models.InventoryModel.csdl|res://*/Models.InventoryModel.ssdl|res://*/Models.InventoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\mysqlserver;initial catalog=Inventory;persist security info=True;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DamConnection" connectionString="Data Source=172.16.4.53\mysqlserver;Initial Catalog=Dam;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />
    <add name="DamEntities" connectionString="metadata=res://*/Models.DamModel.csdl|res://*/Models.DamModel.ssdl|res://*/Models.DamModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.4.53\mysqlserver;initial catalog=Dam;persist security info=True;user id=sa;password=12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CoordinatesEntities" connectionString="Data Source=172.16.4.53\mysqlserver;Initial Catalog=Inventory;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />-->
    <!--<add name="AccomplishmentEntities" connectionString="metadata=res://*/Models.AccompModel.csdl|res://*/Models.AccompModel.ssdl|res://*/Models.AccompModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.4.53\mysqlserver;initial catalog=Accomp1;persist security info=True;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Accomplishment-->
    <add name="Inventory" connectionString="Data Source=172.16.4.53\mysqlserver;Initial Catalog=Inventory;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection" connectionString="Data Source=172.16.4.53\mysqlserver;Initial Catalog=Accomplishment;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>
    <add name="AccomplishmentEntitiesSecurity" connectionString="Data Source=172.16.4.53\mysqlserver;Initial Catalog=Accomplishment;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>
    <add name="DamConnection" connectionString="Data Source=172.16.4.53\mysqlserver;Initial Catalog=Dam;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>
    <add name="CoordinatesEntities" connectionString="Data Source=172.16.4.53\mysqlserver;Initial Catalog=Inventory;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>
    <add name="CoordinatesEntitiesPromotional" connectionString="Data Source=172.16.11.132\mysqlserver;Initial Catalog=Inventory;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>
    <add name="CoordinatesEntitiesPromotional1" connectionString="Data Source=172.16.4.53\mysqlserver;Initial Catalog=Inventory123;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />
    <add name="ProcEntities" connectionString="Data Source=172.16.4.50\mysqlserver;Initial Catalog=PROCUREMENT_MODULES;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>
    <!--<add name="DefaultConnection" connectionString="Data Source=.\mysqlserver;Initial Catalog=AccomplishmentBudget;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />
    <add name="AccomplishmentEntities" connectionString="metadata=res://*/Models.AccompModel.csdl|res://*/Models.AccompModel.ssdl|res://*/Models.AccompModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\mysqlserver;initial catalog=AccomplishmentBudget;persist security info=True;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccomplishmentEntitiesSecurity" connectionString="Data Source=.\mysqlserver;Initial Catalog=AccomplishmentBudget;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />
    <add name="InventoryEntities" connectionString="metadata=res://*/Models.InventoryModel.csdl|res://*/Models.InventoryModel.ssdl|res://*/Models.InventoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\mysqlserver;initial catalog=Inventory;persist security info=True;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\AccompProject.mdf;Initial Catalog=AccompProject;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="InventoryEntities" connectionString="metadata=res://*/Models.InventoryModel.csdl|res://*/Models.InventoryModel.ssdl|res://*/Models.InventoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\mysqlserver;initial catalog=Inventory;persist security info=True;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CoordinatesEntities" connectionString="Data Source=.\mysqlserver;Initial Catalog=Inventory;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />-->
    <add name="AccomplishmentEntities" connectionString="metadata=res://*/Models.AccompModel.csdl|res://*/Models.AccompModel.ssdl|res://*/Models.AccompModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.4.53\mysqlserver;initial catalog=Accomplishment;persist security info=True;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="InventoryEntities" connectionString="metadata=res://*/Models.InventoryModel.csdl|res://*/Models.InventoryModel.ssdl|res://*/Models.InventoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.4.53\mysqlserver;initial catalog=Inventory;persist security info=True;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DamEntities" connectionString="metadata=res://*/Models.DamModel.csdl|res://*/Models.DamModel.ssdl|res://*/Models.DamModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.4.53\mysqlserver;initial catalog=Dam;persist security info=True;user id=sa;password=12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="IAEntities" connectionString="metadata=res://*/Models.IA.csdl|res://*/Models.IA.ssdl|res://*/Models.IA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.4.53\MYSQLSERVER;initial catalog=IA;persist security info=True;user id=SA;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AccompMobileAPI" connectionString="metadata=res://*/Models.MobileAPI.csdl|res://*/Models.MobileAPI.ssdl|res://*/Models.MobileAPI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.4.53\mysqlserver;initial catalog=Accomplishment;persist security info=True;user id=sa;password=12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="PROCUREMENT_MODULESEntities" connectionString="metadata=res://*/Models.Procurement.csdl|res://*/Models.Procurement.ssdl|res://*/Models.Procurement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.4.50\mysqlserver;initial catalog=PROCUREMENT_MODULES;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="OPAIPBP_YR_2021Entities" connectionString="metadata=res://*/Models.Location.csdl|res://*/Models.Location.ssdl|res://*/Models.Location.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.4.91\RONEL,49827;initial catalog=OPAIPBP_YR_2021;persist security info=True;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <!-- Required by Microsoft ReportViewer control -->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="MvcReportViewer.AspxViewer" value="~/MvcReportViewer.aspx"/>
    <add key="MvcReportViewer.AspxViewerJavaScript" value="~/Scripts/MvcReportViewer.js"/>
    <!--<add key="MvcReportViewer.ErrorPage" value="~/MvcReportViewerErrorPage.html" />-->
    <add key="MvcReportViewer.ShowErrorPage" value="True"/>
    <add key="MvcReportViewer.ReportServerUrl" value="http://172.16.4.53:100/webreportserver"/>
    <add key="MvcReportViewer.Username" value="report"/>
    <add key="MvcReportViewer.Password" value="p@ssw0rd"/>
    <add key="MvcReportViewer.EncryptParameters" value="False"/>
    <add key="MvcReportViewer.LocalDataSourceProvider" value="MvcReportViewer.SessionLocalDataSourceProvider, MvcReportViewer"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="mailAccount" value="valenciajervy"/>
    <add key="mailPassword" value="p@ssw0rd"/>
    <!--Smptp Server (confirmations emails)-->
    <add key="GmailUserName" value="valenciajervy@gmail.com"/>
    <add key="GmailPassword" value="v@l3nc!@"/>
    <add key="GmailHost" value="smtp.gmail.com"/>
    <add key="GmailPort" value="587"/>
    <add key="GmailSsl" value="true"/>
  </appSettings>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="2097152" executionTimeout="99999999"/>
    <httpHandlers>
      <!-- Required by Microsoft ReportViewer control -->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <customErrors mode="On" defaultRedirect="~/Shared/Error.cshtml"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!-- Required by Microsoft ReportViewer control -->
      <remove name="ReportViewerWebControlHandler"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>